[Unit]
Description=SMS daemon for Gammu
Documentation=man:gammu-smsd(1)
After=mysql.service postgresql.service

[Service]
EnvironmentFile=-/etc/sysconfig/gammu-smsd
ExecStart=/home/matto/Workspace/engelsmsfax/smsfax/helper.sh
ExecReload=/bin/kill -HUP $MAINPID
ExecStopPost=/bin/rm -f /var/run/gammu-smsd.pid
Type=forking
PIDFile=/var/run/gammu-smsd.pid

[Install]
WantedBy=multi-user.target

