Description=Reboot system
                                                                                                                                                                        
[Service]
ExecStart=/usr/bin/systemctl reboot
Type=oneshot

[Install]
WantedBy=multi-user.target
